<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>My Web Site</title>
            <meta name="viewport" content="width=device-width,initial-scale=1.0">
            <link href="../Stylesheet/styles/styles.css" rel="stylesheet">
        </head>
        <body>
            <section class="container-fluid">
                <article class="container">
                    <header class="head1">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-lg-offset-1">
                                <h2 class="text-aln">My Web Page</h2>
                            </div>
                            <div class="m1 col-xs-3 col-sm-3 col-md-6 col-md-offset-1 col-lg-6">
                                <!--logo on leftside of the page-->
                                <figure class="fig">
                                    <img src="../Stylesheet/Images/img1.png">
                                </figure>
                            </div>
                        </div>
                    </header>
                    <nav class="row">
                        <div class="col-offset-xs-1 col-xs-10 col-md-6 col-offset-md-3 col-lg-4">
                            <ul class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <li class="col-xs-5 col-sm-5  col-md-3 col-lg-3">
                                    <a href="home.html">Home</a>
                                </li>
                                <li class="col-xs-5 col-sm-5  col-md-3 col-lg-3">
                                    <a href="SignUp.html">Sign Up</a>
                                </li>
                                <li class="col-xs-5 col-sm-5  col-md-3 col-lg-3">
                                    <a href="Instruction.html">Instruction</a>
                                </li>
                                <li class="col-xs-5 col-sm-5  col-md-3 col-lg-3">
                                    <a href="contact-us.html"> Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="form1 row">
                        <div class="col-xs-3 col-sm-4 col-md-6 col-lg-6">
                            <form class="form2">
                                <h3 class="text-aln">Sign Up Form</h3>
                                <div class="form-L">
                                    <!--Username-->
                                    <label class="form-L">First Name:</label>
                                    <input type="text" id="fname" placeholder="First Name">
                                </div>
                                <!--Password-->
                                <div class="form-L">
                                    <label class="form-L">Last Name:</label>
                                    <input type="text" id="lname" placeholder="Last Name">
                                </div>
                                <div class="form-L">
                                    <label>Phone Number:</label>
                                    <input type="text" id="p-no" placeholder="Phone No">
                                </div>
                                <div class="form-L">
                                    <label>Give Valid Email Id:</label>
                                    <input type="email" id="e-mail" placeholder="emailId">
                                </div>
                                <div class="form-L">
                                    <label>Password(atleast 6 character )</label>
                                    <input type="password" id="Pwd" placeholder="password">
                                </div>
                                <div class="form-L">
                                    <label>Enter your Birth day(mm/dd/yy)</label>
                                    <input type="datetime" id="d-time">
                                </div>
                                <br>
                                <div>
                                    <!--submit button-->
                                    <button type="submit" class="submit">
                                        <span>Submit</span>
                                    </button>
                                    <!--reset/cancel-->
                                    <button type="reset" class="reset">
                                        <span>Reset</span>
                                    </button>
                                </div><br>
                                <div>
                                    <input type="checkbox">
                                    <label>Remember your password</label>
                                </div>
                            </form>
                        </div>
                    </div>
                </article>
            </section>
            <footer class="footer row">
                <nav class="col-offset-xs-1 col-xs-10 col-md-6 col-offset-md-3 col-lg-4">
                    <ul class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <li class="col-xs-5 col-sm-5  col-md-3 col-lg-3">
                            <a href="neha.html">Neha</a>
                        </li>
                        <li class="col-xs-5 col-sm-5  col-md-3 col-lg-3">
                            <a href="phoneno.html">Phone Number</a>
                        </li>
                        <li class="col-xs-5 col-sm-5  col-md-3 col-lg-3">
                            <a href="detailshtml">Details</a>
                        </li>
                        <li class="col-xs-5 col-sm-5  col-md-3 col-lg-3">
                            <a href="aboutus.html"> About Us</a>
                        </li>
                    </ul>
                </nav>
            </footer>
        </body>
    </html>